@import "../styles/colors.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.main {
  min-height: 100vh;
  background: $dark-bg;
  background: $panel-bg;
  font-family: $font-main;
  color: $text-main;
}
