// .main {
//   min-height: 100vh;
//   background: linear-gradient(135deg, #181823 0%, #23243a 100%);
//   padding: 2rem 0;
// }

.main {
  min-height: 100vh;
  background: linear-gradient(120deg, #232323 0%, #353535 70%, #ffc30022 100%);
  padding: 2rem 0;
  font-family: "Inter", "Roboto", "Segoe UI", Arial, sans-serif;
  color: #e0e0e0;
}
